@font-face {
    font-family: spotify;
    src: url(https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff);
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #191414;
}

.container {
    display: flex;
    flex-direction: column;


}

.link{
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: solid #1DB954 5px;
    border-radius: 20px;
}

.spotify-text {
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 9vw;
    
}

.host{
width: 90vw;
margin: auto;
}
.queue{
    margin: auto;
    width: 90vw;
}
a, a:hover, a:visited, a:active {
    text-decoration: none;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

#logo {
 width: 70vw;
 max-width: 50vh;
 display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    .spotify-text {
        font-size: 7vh;
    }
    .link{
        width: 40vw;
        margin: 2vh auto;
    }
}