@font-face {
    font-family: spotify;
    src: url(https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff);
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #191414;
}

.container {
    display: flex;
    flex-direction: column;


}


.link-parent {
    margin: 50px;
    padding: 20px;
    text-align: center;
    border: solid #1DB954 5px;
    border-radius: 20px;
}

.spotify-text {
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 10vw;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    text-align: center;
}

#logo {
 width: 70vw;
 display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vh;
}