@font-face {
    font-family: spotify;
    src: url(https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff);
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #191414;
}

.container {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
}

.search-bar {
    width: 100vw;
    margin-top: 10px;
}

.results {
    display: flex;
    flex-direction: column;
    grid-area: results;
    width: 100vw;
    height: 60vh;
    margin-top: 15px;
}

.info {
    grid-area: info;
    width: 100vw;
}

.spotify-text {
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 7vw;
    margin: 2vh auto;
    width: 70vw;
}

.medium-text {
    padding: 10vh;
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 7vw;
}

.small-text {
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 5vw;
    margin: 0;
}

.search {
    background-color: gray;
    color: black;
    width: 70vw;
    height: 1vh;
    padding: 20px;
    border: none;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.song {
    height: 16vw;
    display: flex;
    flex-direction: row;
}

.name {
    vertical-align: top;
    color: lightgray;
    font-family: spotify, sans-serif;
    font-weight: 50;
    font-size: 5vw;
}

.artists {
    color: lightgray;
    font-family: spotify, sans-serif;
    font-weight: 50;
    font-size: 3vw;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.picture {
    width: 15vw;
    height: 15vw;
    aspect-ratio: 1;
    padding: 5px;
    border: none;
    aspect-ratio: 1;
}

.homeButton {
    position: absolute;
    padding: 10px;
    aspect-ratio: 245/201;
    width: 15vw;
    max-width: 10vh;
}

button {
    margin: 15px;
    padding: 5px;
    width: 30vw;
    max-width: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #1DB954;
    background-color: #191414;
    border-radius: 20px;
}

@media screen and (min-width: 600px) {
    .container {
        margin: auto;
    }
    .spotify-text {
        font-size: 5vh;
    }
    .medium-text {
        font-size: 5vh;
    }
    .small-text {
        font-size: 3vh;
    }
   
    .code-input {
        font-size: 10vh;
    }
    .search {
        height: 5vh;
        width: 40vw;
        font-size: 5vh;
    }
    .picture {
        width: 10vh;
        height: 10vh;
    }
    .name {
        font-size: 4vh;
    }
    .artists {
        font-size: 3vh;
    }
    .results{
        margin-left: 5vw;
    }
}