@font-face {
    font-family: spotify;
    src: url(https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff);
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #191414;
}

.container {
    margin-top: 16vw;
    display: flex;
    flex-direction: column;
}

.search-bar {
    width: 100vw;
    margin-top: 10px;
}

.results {
    display: flex;
    flex-direction: column;
    grid-area: results;
    width: 100vw;
    height: 60vh;
    margin-top: 15px;
}


.info {
    grid-area: info;
    width: 100vw;
}

.spotify-text {
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 10vw;
    margin: 2vh auto;
}

.medium-text {
    padding: 10vh;
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 7vw;
}

.small-text {
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 5vw;
}

.search {
    background-color: gray;
    color: black;
    width: 70vw;
    height: 8vw;
    padding: 20px;
    border: none;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.song {
    height: 16vw;
    display: flex;
    flex-direction: row;
}

.name {
    vertical-align: top;
    color: lightgray;
    font-family: spotify, sans-serif;
    font-weight: 50;
    font-size: 5vw;
}
.artists {
    color: lightgray;
    font-family: spotify, sans-serif;
    font-weight: 50;
    font-size: 3vw;
}
.song-info {
    display: flex;
    flex-direction: column;
}

.picture {
    width: 15vw;
    height: 15vw;
    aspect-ratio: 1;
    padding: 5px;
    border: none;
    aspect-ratio: 1;
}

.homeButton {
    position: absolute;
    padding: 10px;
    aspect-ratio: 245/201;
    width: 15vw;
}

button {
    margin: 15px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #1DB954;
    background-color: #191414;
    border-radius: 20px;
}