@font-face {
    font-family: spotify;
    src: url(https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff);
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #191414;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-parent {
    text-align: center;
    
}

.link {
    height: 100%;
    width: 100%;
    color: #1DB954;
    font-family: spotify, sans-serif;
    text-align: center;
    font-weight: 200;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    text-align: center;
}

.homeButton {
    padding: 10px;
    aspect-ratio: 1;
    width: 50px;
}